<h1>Sign up</h1>

<% if @user.errors.any? %>
  <p>Following errors occured:</p>
  <ul>
    <% @user.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

<%= render partial: 'form', locals: {submit: 'Sign up'} %>
