<h1 class="title-center">Sign up</h1>

<% if @user.errors.any? %>
<div class="error-messages">
  <p>Following errors occured:</p>
  <ul>
    <% @user.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
  </div>
<% end %>

<%= render partial: 'form', locals: {submit: 'Sign up'} %>
