<h1>Categories</h1>

<div class="categories">
  <div class="container">
    <div class="category-cards row">
      <% @categories.each do |c| %>
        <div class="category-card col-4">
          <%= image_tag c.image %>
          <h2><%= c.title %></h2>
          <%= link_to "Events", events_path(c.events) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
