<h1>Categories</h1>

<div class="categories">
  <div class="container">
    <div class="category-cards row">
      <% @categories.each do |c| %>
        <div class="category-card col-4">
          <%= link_to category_path(c.id) do %>
          <%= image_tag c.image %>
          <h2><%= c.title %></h2>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
